.App-header{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.headerButton{
    margin: 0% 25%;
    font-weight: 900;
    cursor: pointer;
}

.imageContainer{
    height: 10%;
    width: 10%;
}

.nothing{
    text-decoration: 'none';
}

#imageLogo{
    height: 40%;
    width: 40%;
    cursor: pointer;
}

#rightHeader{
    margin-right: 75%;
}

#leftHeader{
    margin-left: 25%;
}

#white{
    background-color: blanchedalmond;
}

.headerButtonsContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    color: blanchedalmond;
    top: 10%;
}